<div class="uiLogin">
	<img class="logo" src="images/logo_0.png" alt="">
	<div class="right hasBorderShadow">
		<div class="label">username</div>
		<input type="text" class="el textbox txtUsername" placeholder="username">
		<div class="label">password</div>
		<input type="password" class="el textbox txtPassword" placeholder="password">
		<div class="top-buttons">
			<div class="el btn btnRegister">register</div>
			<div class="el btn btnLogin">login</div>
		</div>
		<div class="message"></div>
	</div>
	<div class="news" location="https://gitlab.com/Isleward/play.isleward.com/-/wikis/v0.13.0-Release-Notes">[ Latest Release Notes ]</div>
	<div class="extra">
		<div class="el btn btnPatreon monetization" location="https://patreon.com/bigbadwaffle">Pledge on Patreon</div>
		<div class="el btn btnPaypal monetization" location="https://www.paypal.com/donate?hosted_button_id=NEQAV3NG9PWXA">Donate on Paypal</div>
		<div class="el btn btnWiki" location="http://wiki.isleward.com/Main_Page">Access the Wiki</div>
	</div>
	<div class="version" location="https://gitlab.com/Isleward/play.isleward.com/-/wikis/v0.13.0-Release-Notes">v0.13.0</div>
</div>
